.login-btn{
  margin-left:auto;
}

  .toolbar{
    gap:5px;
   
}
.material-icons{
    font-size: 35px;
    font-weight: 500;
}
.landing{
  font-family: sans-serif;
  font-size: 22px;
  font-weight: 500;
  background-color: #f5f5f5;
}
.landing img{
  width: 50px;
}

.hovr{
  cursor: pointer;
 font-family: sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.hovr:hover{
  background: rgba(0,0,0,.4);
}
/* mcss */
.task-bar {
  display: flex;

  height: 63px;
  /* background-color: #f3f3fe; */
  border: 1px solid #673ab7;
}
.createbtn {
  padding: 10px;
  border-right: 1px solid #673ab7;
}
.createbtn button {
  background-color: #673ab7;
  height: 40px;
  width: 300px;
  border-radius: 0.25rem;
  color: white;
  font-size: 16px;
  border: 1px solid #673ab7 ;
  transition: all 300ms cubic-bezier(0.895, 0.03, 0.685, 0.22) ;
}
.heading {
  padding-top: 15px;
  padding-right: 20px;
  width: 100%;
  text-align: center;
}
.sort-btn img {
  width: 20px;
  float: left;
}
.sort-btn {
  background-color: white;
  border-radius: 0.25rem;
  padding: 5px 10px;
  float: right;
  border-width: 1px;
}
.sort-btn span {
  line-height: 100%;
}

.home-flex{
  display:flex;
  width: 100%;
  height: 100%;
  align-items: stretch ;
}
.hf-1{
  width: 320px;
  
}
.hf-2{
  width: 60%;
  padding: 30px;

  margin:0 auto;
}
.u-forms{
  display: flex;
  margin-top: 15px;
  align-items: center;
  gap: 2px;
  background-color: white;
  border: 1px solid #fafafa;
  border-radius: 0.25rem;
  transition: all 300ms cubic-bezier(0.895, 0.03, 0.685, 0.22) ;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 
}

.u-forms h3{
  color: #673ab7;
  font-family: sans-serif;
  font-size: 18px;
  display: inline;
  cursor: pointer;
  text-transform: capitalize;
  
}
.u-forms img{
  width: 40px;
  height: 40px;
  float: left;
  
}
.edit{
  display: flex;
  gap:5px;
  margin-left: auto;
}
.editelem{

  cursor:pointer;
  color:rgb(10, 21, 81);
  font-size: 0.875em;
  font-weight: 500;
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transition: all 300ms cubic-bezier(0.895, 0.03, 0.685, 0.22) ;
  text-transform: capitalize;
}
.edit div:hover{
  background-color: #e0e3fc;
}
 .u-forms:hover{
  background-color: #eff0f7;
  border: 1px solid #c8ceed;

}